* {
  padding: 0;
  margin: 0;
  font-family: "Manrope";
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gap {
  gap: 50px;
}
header {
  width: 100vw;
  position: sticky;
  z-index: 1;
  background-color: white;
}
.box {
  width: 80vw;
  margin: 0 auto;
  font-weight: bold;
  padding: 10px 0;
}
.btn {
  color: white;
  padding: 10px 13px;
  background-color: #183181;
  border-radius: 10px;
}
/************************/
.first {
  background: linear-gradient(194.01deg, #d9e8ef 9.6%, #eaf2f5 89.64%);
  height: 866px;
  width: 100%;
}
.glavnoe {
  font-size: 72px;
  font-weight: 800;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: left;
}
.left {
  padding-left: 165px;
}
.second {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.right {
  position: absolute;
  top: -4px;
  right: 0;
}
.textor {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.textor p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.textor b {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}
/************************/
.buildb b {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 0em;
  padding: 70px 100px;
}
.build {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.block-build p {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.block-build {
  padding: 40px;
  border-radius: 15px;
  position: relative;
  width: 305px;
  height: 200px;
}
.build-img img {
  position: absolute;
  top: 55.23%;
  left: 24%;
  bottom: 42.02%;
}
.pclass-text {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px 100px;
}
.pclass {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 70px 100px;
}
.pfirst-block b {
  font-size: 28px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
.pfirst-block p {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
.psecond-block b {
  font-size: 28px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
.psecond-block p {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
.pfirst-block h1 {
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
  flex-wrap: nowrap;
}
.psecond-block h1 {
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
  flex-wrap: nowrap;
}
.pfirst-block a {
  position: absolute;
  left: 390px;
  top: 450px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  background: #183181;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 16px;
}
.psecond-block a {
  position: absolute;
  left: 400px;
  top: 450px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  background: #183181;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 16px;
}
.pfirst-block {
  position: relative;
}
.psecond-block {
  position: relative;
}
/******************/
.oclass {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1800px;
  position: relative;
}
.oclass h1 {
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
  color: #183181;
}
.oclass h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
}
.oclass h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.oclass a {
  text-decoration: none;
  color: #183181;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.oclass-text {
  position: absolute;
  right: 400px;
}
.oclass img {
  position: relative;
  right: 400px;
}
/*******************************/
.mainbox {
  height: 98px;
  width: 100vw;
  background-color: #0b0d17;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:800px;
}
.mainbox h1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #d9dbe1;
  
}
