* {
  padding: 0;
  margin: 0;
  font-family: "Manrope";
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gap {
  gap: 3.125rem;
}

header {
  width: 100vw;
  position: sticky;
  z-index: 1;
  background-color: white;
  top: 0;
}

.box {
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  padding: 10px 0;
}

.btn {
  color: white;
  padding: 0.625rem 0.8rem;
  background-color: #183181;
  border-radius: 0.6rem;
}

/************************/
.first {
  background: linear-gradient(194.01deg, #d9e8ef 9.6%, #eaf2f5 89.64%);
  height: 55rem;
  width: 100%;
}

.glavnoe {
  font-size: 5rem;
  font-weight: 800;
  line-height: 7rem;
  letter-spacing: 0em;
  text-align: left;
}

.left {
  padding-left: 10rem;
}

.second {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
}

.right {
  position: absolute;
  top: -0.4rem;
  right: 0;
}

.textor {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textor p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
}

.textor b {
  font-size: 3rem;
  font-weight: 800;
  line-height: 4rem;
  letter-spacing: 0em;
  text-align: left;
}

/************************/
.buildb b {
  font-size: 4rem;
  font-weight: 800;
  line-height: 4rem;
  letter-spacing: 0em;
  padding: 4.4rem 6.5rem;
}

.build {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.block-build p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
}

.block-build {
  padding: 2.5rem;
  border-radius: 1rem;
  position: relative;
  width: 19rem;
  height: 12.5rem;
}

.build-img img {
  position: absolute;
  top: 55.23%;
  left: 24%;
  bottom: 42.02%;
}

.pclass-text {
  font-size: 3rem;
  font-weight: 800;
  line-height: 4rem;
  letter-spacing: 0em;
  text-align: left;
  padding: 1.25rem 6.25rem;
}

.pclass {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4.5rem 6.25rem;
}

.pfirst-block b {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.5rem;
  letter-spacing: 0em;
  text-align: left;
}

.pfirst-block p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0em;
  text-align: left;
}

.psecond-block b {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.5rem;
  letter-spacing: 0em;
  text-align: left;
}

.psecond-block p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0em;
  text-align: left;
}

.pfirst-block h1 {
  font-size: 1rem;
  font-weight: 800;
  line-height: 1rem;
  letter-spacing: 0.1rem;
  text-align: left;
  flex-wrap: nowrap;
}

.psecond-block h1 {
  font-size: 1rem;
  font-weight: 800;
  line-height: 1rem;
  letter-spacing: 0.1rem;
  text-align: left;
  flex-wrap: nowrap;
}

.pfirst-block a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  background: #183181;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.psecond-block a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  background: #183181;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.pfirst-block {
  position: relative;
}

.psecond-block {
  position: relative;
}

/******************/
.oclass {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 1800px;
  position: relative;
}

.oclass h1 {
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
  color: #183181;
}

.oclass h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
}

.oclass h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.oclass a {
  text-decoration: none;
  color: #183181;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.oclass-text {
  position: absolute;
  right: 400px;
}

.oclass img {
  position: relative;
  right: 400px;
}

/*******************************/
.mainbox {
  height: 98px;
  width: 100vw;
  background-color: #0b0d17;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 800px;
}

.mainbox h1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #d9dbe1;
  
}


/* 1rem=16px*/
@media(max-width:768px) {
  .burger {
    display: flex;
  }

  .hidden {
    display: none;
  }

  .oclass h1,
  .oclass h2,
  .oclass h3,
  .oclass a {
    text-align: center;
    justify-content: center;
  }

  .oclass img {
    width: 70%;
  }
}