* {
  padding: 0;
  margin: 0;
  font-family: "Manrope";
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gap {
  gap: 50px;
}
header {
  width: 100vw;
  position: sticky;
  z-index: 1;
  background-color: white;
}
.box {
  width: 80vw;
  margin: 0 auto;
  font-weight: bold;
  padding: 10px 0;
}
.btn {
  color: white;
  padding: 10px 13px;
  background-color: #183181;
  border-radius: 10px;
}
/************************/
.first {
  background: linear-gradient(194.01deg, #d9e8ef 9.6%, #eaf2f5 89.64%);
  height: 866px;
  width: 100%;
}
.glavnoe {
  font-size: 72px;
  font-weight: 800;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: left;
}
.left {
  padding-left: 165px;
}
.second {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.right {
  position: absolute;
  top: -4px;
  right: 0;
}
.textor {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.textor p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.textor b {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}
/************************/
.buildb b {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 0em;
  padding: 70px 100px;
}
.build {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.block-build p {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.block-build {
  padding: 20px;
  border-radius: 15px;
  position: relative;
  width: 255px;
  height: 200px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
}
.build-img img {
  position: absolute;
  top: 39.23%;
  left:15%;
  bottom: 42.02%;

}
